<h2>Tool Shed</h2>
<br>

Rules:
<ul>
  <li>1. You can check out a tool for 7 days</li>
  <li>2. You can check out a minimim of 2 items, per tool</li>
  <li>3. Check in tools when you return them. We are in an honor system.</li>
  <li>4. Please be considerate of your neighbors</li>
</ul>

<br>
<table>
  <% @tools.each do |tool| %>
    <tr>
    <td><%= tool.name %></td>
    <td><%= tool.qty  %></td>
    <td></td>
      <% if current_user && tool.qty != 0 %>
    <td><%= button_to 'Check Out', checkout_path(tool_id: tool.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>