<% if current_user %>
    <%= link_to "Add Event", new_event_path %>
<% end %>
<br>
<% if @events %>
<%= @events.each do |event| %>
    <div><%= link_to event.title, event %></div>
<% end %>
<% end %>